<div class="services-gallery">
    <div id="bol">
        <h3 class="row justify-content-center">Add your favorites widgets:</h3>
    </div>
    <div class="service scrolling-wrapper row justify-content-center" style="margin-bottom:100">
        <% for (var index in services) { %>
            <% var photo %>
            <% if (services[index] == "weather") { %>
                <% photo = 'images/meteotry.png' %>
            <% } %>

            <% if (services[index] == "rss") { %>
                <% photo = 'images/news.png' %>
            <% } %>

            <% if (services[index] == "radio") { %>
                <% photo = 'images/radio.png' %>
            <% } %>

            <% if (services[index] == "fortnite") { %>
                <% photo = 'images/fortnite.gif' %>
            <% } %>

            <% if (services[index] == "time") { %>
                <% photo = 'images/time.png' %>
            <% } %>

            <% if (services[index] == "cinema") { %>
                <% photo = 'images/cinema.png' %>
            <% } %>

            <div style="background-image: url(<%= photo %>)" class="card service-title" data-id="<%= services[index] %>">
                <p class="font-weight-bold">
                    <%= services[index] %>
                </p>
            </div>
        <% } %>
    </div>

</div>