<!--<div class="services-gallery">
    <div class="service scrolling-wrapper row justify-content-center" style="margin-bottom:100px">-->
<div class="row">
    <% for (var index in services) { %>
        <% var photo %>
        <% if (services[index] == "weather") { %>
            <% photo = 'images/meteotry.png' %>
        <% } else if (services[index] == "rss") { %>
            <% photo = 'images/news.png' %>
        <% } else if (services[index] == "radio") { %>
            <% photo = 'images/radio.png' %>
        <% } else if (services[index] == "fortnite") { %>
            <% photo = 'images/fortnite.gif' %>
        <% } else if (services[index] == "time") { %>
            <% photo = 'images/time.png' %>
        <% } else if (services[index] == "cinema") { %>
            <% photo = 'images/cinema.png' %>
        <% } %>
        <li class="nav-item col-md-2" data-id="<%= services[index] %>">
            <p style="position: absolute;font-size: 12px;margin: 5px;"><%= services[index] %></p>
            <img style="width: 120px" src="<%= photo %>">
        </li>
    <% } %>
</div>