<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 4px solid #b95e0d;">
        <a class="navbar-brand" href="#">DASHBOARD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <%- include ./gallery -%>
            </ul>
            <span class="navbar-text">
        <button id="logoutbutton" type="button" class="btn btn-outline-danger">Sign Out</button>
        </span>
        </div>
    </nav>
</div>