<html>
<%- include ./head -%>
<body>
<%- include ./gallery -%>

<div class="gridster ready">
    <ul style="height: 530px; width: 530px; position: relative;">
    </ul>
</div>

<script type="text/javascript" src="js/Service.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/authentification.js"></script>
</body>
</html>