<html>
<%- include ./head -%>
<body>

<div class="Menu" style="margin-bottom:100">
  <ul class="Menu-list" data-offset="10">
    <li class="Menu-list-item" data-offset="20" onclick>
      DASHBOARD
      <span class="Mask"><span>DASHBOARD</span></span>
      <span class="Mask"><span>DASHBOARD</span></span>
    </li>
  </ul>
</div>
<%- include ./gallery -%>
<script>
    var client = "<%= clientName %>";
</script>
<div class="gridster ready" style="width: 100%;">
    <ul style="position: relative;">
    </ul>
</div>

<button type="button" class="btn btn-outline-danger fixed-top">Sign Out</button>

<script type="text/javascript" src="js/Service.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/client.js"></script>
<script type="text/javascript" src="js/dashboard.js"></script>
</body>
</html>