<html>
<%- include ./head -%>
<body>
<div>
    <h1 class="row justify-content-center" style="margin-bottom:100">DASHBOARD</h1>
</div>
<%- include ./gallery -%>
<script>
    var client = "<%= clientName %>";
</script>
<div class="gridster ready" style="width: 100%;">
    <ul style="position: relative;">
    </ul>
</div>

<script type="text/javascript" src="js/Service.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/client.js"></script>
<script type="text/javascript" src="js/try.js"></script>
</body>
</html>