<html>
<%- include ./head -%>
<body style="background: url(http://blog.hostbaby.com/wp-content/uploads/2012/05/thumbnail_abstract.jpg) no-repeat center; background-size: cover; ">

<%- include ./header %>
<script>
    var client = "<%= clientName %>";
</script>
<div class="gridster ready" style="width: 100%;">
    <ul style="position: relative;">
    </ul>
</div>

<script type="text/javascript" src="js/Service.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/client.js"></script>
</body>
</html>