<div class="widget" id="<%= id %>">
    <div class="invisible widget-options" style="position: absolute; z-index: 1">
        <form data-id="<%= id %>" data-service="weather">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Envoyer</button>
            </div>
        </form>
    </div>
    <div class="visible widget-content" style="position: absolute;z-index: 1; color: #00ABEB;">
    </div>
</div>